{% extends "layout.html" %}

{% block content %}

<h1> {{player.player_name}}</h1>
<h1> {{player.current_game_room.name}} test</h1>
<h1> {{player.game_count}}</h1>
<h2> {{room.name}} </h2>

<pre>
{{room.description}}
</pre>

{% if room.name in ["Game Over", "The End"] %}
  <p><a href="/new_game">Play Again?</a></p>
  <p><a href="/login">Logout</a></p>
{% else %}
  <p>
  <form action="/game" method="POST">
      -<input type="text" name="action"> <input type="SUBMIT">
  </form>
  </p>
{% endif %}

{% endblock %}
